* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

#topicsContainer {
  flex: 1;
  background: #0e0e0e;
  border-right: solid 1px rgba(255,255,255,0.1);
}

#gifsDisplayed {
  flex: 3;
  background: #1b1b1b;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.gifContainer {
  flex: 0;
  padding: 10px;
}
